---
import { BlogPost } from "../../components/react";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="flex flex-col md:grid grid-cols-9 mx-auto p-2 text-blue-50">
    {posts.map((post, idx) => <BlogPost {...post} index={idx} />)}
  </section>
</Layout>
