@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fbab7e;
  --secondary-color: #e06c22;
  --primary-bg-color: #120c0b;
  --secondary-bg-color: white;
  --scrollbar-width: 15px;
  --font-size: 16px;
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: var(--primary-bg-color);
  color: var(--secondary-bg-color);
  font-family: 'Noto Sans', sans-serif;
}

.lock-scroll {
  height: 100vh;
  overflow: hidden !important;
  padding-right: var(--scrollbar-width);
}

html {
  font-size: var(--font-size);
}

body {
  position: relative;
}

main {
  @apply h-full;
}

.gradient-bg-before > span {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin-right: 1px;
}

.gradient-bg-before::before,
.gradient-bg {
  background-color: var(--primary-color);
  background-image: linear-gradient(62deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.gradient-text {
  background: linear-gradient(62deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-icon svg {
  width: 256px;
  height: 256px;
}

.gradient-icon svg path {
  fill: url(#icon-gradient);
}

.gradient-text-color-light {
  color: var(--primary-color);
}

.gradient-text-color-dark {
  color: var(--secondary-color);
}

.outer-rim::before {
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  @media (min-width: 1280px) {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }
}

.primary-bg-color {
  background-color: var(--primary-bg-color);
}

.emoji {
  vertical-align: middle;
  font-size: 0.5em;
  line-height: 1.4em;
}

.duotone-icon {
  --icon-primary-color: var(--secondary-color);
  --icon-secondary-color: var(--primary-color);
  --icon-primary-opacity: 0.85;
  --icon-secondary-opacity: 1;
}

.duotone-icon .fa-primary {
  fill: var(--icon-primary-color);
  opacity: var(--icon-primary-opacity);
}

.duotone-icon .fa-secondary {
  fill: var(--icon-secondary-color);
  opacity: var(--icon-secondary-opacity);
}

.duotone-icon.duotone-icon-reverse .fa-secondary {
  fill: var(--icon-primary-color);
  opacity: var(--icon-primary-opacity);
}
.duotone-icon.duotone-icon-reverse .fa-primary {
  fill: var(--icon-secondary-color);
  opacity: var(--icon-secondary-opacity);
}

.tool-belt-list > li {
  @apply mr-2 md:mr-4 mb-2 md:mb-4;
}

.connect-ul > li {
  @apply mb-6 lg:mb-0;
}
