---
import { IconLink } from './react'
import { faMugHot } from '@fortawesome/free-solid-svg-icons'
import { SITE_OWNER } from 'src/config'

const today = new Date()
---

<footer class="flex items-center">
  <div>
    <h3>{SITE_OWNER}</h3>
    <h4>//last section about me again Experienced developer with a passion to work with cutting-edge technologies</h4>
  </div>
  <span class="flex flex-1 text-black">
    &copy; 2016-{today.getFullYear()}
    {SITE_OWNER}. All rights reserved.</span
  >
  <div class="flex">
    <IconLink
      href="https://paypal.me/stevissdev?country.x=RS&locale.x=en_US"
      target="_blank"
      label="Buy me a coffee!"
      icon={faMugHot}
    />
  </div>
</footer>
