---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  class="relative p-4 text-black hover:text-orange-500 transition-colors duration-200"
  href={href}
  class:list={[className, { "font-bold": isActive }]}
  {...props}
>
  <slot />
</a>
