---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="my-6">
  <div class="flex">
    <h2 class="mr-2">
      {`<${SITE_TITLE}/>`}
    </h2>
    <nav class="flex ml-auto">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
        Twitter
      </HeaderLink>
      <HeaderLink href="https://github.com/withastro/astro" target="_blank">
        GitHub
      </HeaderLink>
    </nav>
  </div>
</header>
