---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a
  class="relative flex font-nunito pl-0 p-4 md:pl-4 md:p-4 text-white text-lg md:text-xl hover:text-orange-500 transition-colors duration-200"
  href={href}
  class:list={[className, { 'font-bold': isActive }]}
  {...props}
>
  <slot />
</a>
