---
import Link from './Link.astro'
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import type { IconDefinition } from '@fortawesome/sharp-solid-svg-icons'
import type { HTMLAttributes } from 'astro/types'
import { IconContainer } from 'src/components/react'

type Props = HTMLAttributes<'a'> & {
  label: string
  icon: IconDefinition
}

const { href, icon, label } = Astro.props
---

<li class="border-b md:border-none border-primary border-opacity-30 last:border-none">
  <Link class="group" href={href}>
    <IconContainer className="px-2">
      <FontAwesomeIcon
        icon={icon}
        className="w-5 h-5 text-primary group-hover:text-secondary transition-color duration-300 ease-in-out"
      />
    </IconContainer><span class="ml-2 md:ml-0">{label}</span>
  </Link>
</li>
