---
import { ToolBeltItem } from 'src/components/react'
import { SITE_TECHNOLOGIES } from 'src/config'
---

<section class="flex flex-col py-12 md:py-24">
  <h2 class="text-5xl md:text-8xl font-nunito font-black text-white tracking-[-3px] mb-6 md:mb-4">
    My tool belt <span class="emoji">🛠️</span>
  </h2>
  <p class="text-xl md:text-2xl max-w-3xl break-words">
    During my years of experience I had the opportunity to work with various technologies, tools, libraries and
    frameworks. These are the tools that I primarily focus on:
  </p>
  <ul class="flex flex-wrap justify-evenly py-12 tool-belt-list">
    {
      SITE_TECHNOLOGIES.map((label) => (
        <li>
          <ToolBeltItem label={label} />
        </li>
      ))
    }
  </ul>
</section>
