---
import { ToolBeltItem } from "../../../components/react";
---

<section class="flex flex-col py-12 md:py-24" ">
  <h2
    class="text-5xl md:text-8xl font-nunito font-black text-white tracking-[-3px] mb-6 md:mb-4"
  >
    My tool belt 🛠️
  </h2>
  <p class="text-xl md:text-2xl font-noto max-w-3xl break-words">
    During my years of experience I had the opportunity to work with various
    technologies, tools, libraries and frameworks. These are the tools that I
    primarily focus on:
  </p>
  <ul class="flex flex-wrap justify-evenly py-12 tool-belt-list">
    <li><ToolBeltItem label="Astro" /></li>
    <li><ToolBeltItem label="Figma" /></li>
    <li><ToolBeltItem label="React" /></li>
    <li><ToolBeltItem label="Next.js" /></li>
    <li><ToolBeltItem label="Node.js" /></li>
    <li><ToolBeltItem label="TypeORM" /></li>
    <li><ToolBeltItem label="Nest.js" /></li>
    <li><ToolBeltItem label="Redux Toolkit" /></li>
    <li><ToolBeltItem label="Apollo Federation" /></li>
    <li><ToolBeltItem label="GraphQL" /></li>
    <li><ToolBeltItem label="REST" /></li>
    <li><ToolBeltItem label="Kafka" /></li>
    <li><ToolBeltItem label="PostgreSQL" /></li>
    <li><ToolBeltItem label="GitHub Actions" /></li>
    <li><ToolBeltItem label="Docker" /></li>
  </ul>
</section>
