---
import AboutMeSectionTitle from './AboutMeSectionTitle.astro'
import { faHeadSideGear, faPersonToPortal, faUsersViewfinder } from '@fortawesome/pro-duotone-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { IconContainer } from 'src/components/react'
---

<section class="flex flex-col py-12 md:py-24">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between py-12 md:py-24">
    <AboutMeSectionTitle>
      I provide <span class="gradient-text p-1">solutions</span> to clients
    </AboutMeSectionTitle>
    <div class="md:max-w-md">
      <IconContainer className="py-12">
        <FontAwesomeIcon icon={faHeadSideGear} className="h-16 duotone-icon" />
      </IconContainer>
      <p class="font-noto text-xl lg:text-2xl max-w-xl text-center">
        Vast experience in transitioning projects from client's imagination into reality, on many respected platforms
        and stacks.
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row-reverse md:items-center md:justify-between py-12 md:py-24">
    <AboutMeSectionTitle>
      I create <span class="gradient-text p-1">best experiences</span> for users
    </AboutMeSectionTitle>
    <div class="md:max-w-md">
      <IconContainer className="py-12">
        <FontAwesomeIcon icon={faPersonToPortal} className="h-16 duotone-icon" />
      </IconContainer>
      <p class="font-noto text-xl lg:text-2xl max-w-xl text-center">
        Proficient in making projects pixel perfect, optimized for best performance, accessibility and experience.
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row md:items-center md:justify-between py-12 md:py-24">
    <AboutMeSectionTitle>
      I <span class="gradient-text p-1">enable</span> my team
    </AboutMeSectionTitle>
    <div class="md:max-w-md">
      <IconContainer className="py-12">
        <FontAwesomeIcon icon={faUsersViewfinder} className="h-16 duotone-icon" />
      </IconContainer>
      <p class="font-noto text-xl md:text-2xl max-w-xl text-center">
        Backed with always expanding knowledge of Linux-based systems and best practices involving project development,
        integrations and deployments.
      </p>
    </div>
  </div>
</section>
