---
import BaseHead from "src/components/BaseHead.astro";
import Footer from "src/components/Footer.astro";
import Header from "src/components/Header.astro";

type Props = { title: string; description: string };

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-black">
    <main class="container mx-auto min-h-screen flex-col px-4 sm:px-6 md:px-10">
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
